body {
	background-color: #C9C9C9;
	text-align: center;
	margin: 0px;
	position: relative;
}

header {
	background: #434343;
	height: 107px;
}

main {
	width: 68vw;
	height: 71vh;
	background: #FFFFFF;
	display: inline-block;
	margin-bottom: -10px;
}

footer {
	background: #1A1A1A;
	margin: 0 auto;
	width: 68vw;
	height: 7.5vh;
	display: inline-block;
	padding-top: 0;
}
